pkgbase = antigravity-ide-bin
	pkgdesc = Google Antigravity IDE (standalone) - official prebuilt Linux release
	pkgver = 2.5.5
	pkgrel = 1
	url = https://antigravity.google/download
	arch = x86_64
	license = LicenseRef-proprietary
	depends = alsa-lib
	depends = at-spi2-core
	depends = dbus
	depends = glibc
	depends = gtk3
	depends = libdrm
	depends = libnotify
	depends = libsecret
	depends = libxkbfile
	depends = libxss
	depends = mesa
	depends = nspr
	depends = nss
	depends = xdg-utils
	optdepends = gnome-keyring: secure credential storage on GNOME
	optdepends = kwallet: secure credential storage on KDE Plasma
	provides = antigravity-ide
	conflicts = antigravity-ide
	conflicts = google-antigravity-bin
	options = !strip
	options = !debug
	source = antigravity-ide-2.5.5-4923483625488384-linux-x64.tar.gz::https://edgedl.me.gvt1.com/edgedl/release2/j0qc3/antigravity/stable/2.5.5-4923483625488384/linux-x64/Antigravity%20IDE.tar.gz
	source = antigravity-ide.desktop
	source = antigravity-ide-url-handler.desktop
	sha256sums = 0c5233b297d2b3aebb61af49f8944012c2953d361a5ebb16978490636917f831
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = antigravity-ide-bin
