[Desktop Entry]
Name=Antigravity IDE
GenericName=Text Editor
Comment=Google Antigravity standalone agentic IDE
Exec=antigravity-ide %F
Icon=antigravity-ide
Type=Application
Terminal=false
StartupNotify=true
StartupWMClass=Antigravity IDE
Categories=Development;IDE;TextEditor;
Keywords=antigravity;google;ide;editor;
Actions=new-empty-window;

[Desktop Action new-empty-window]
Name=New Window
Exec=antigravity-ide --new-window
Icon=antigravity-ide
